body{

    font-family: 'Times New Roman', Times, serif;
    background-color: black;

}

#container{
    width: 1000px;
    height: 550px;
    background-color: blue;
    margin: 20px auto;
}

#calculator{

    background-color: aliceblue;
    width: 320px;
    height: 500px;
    margin: 20px auto;
    top: 20px;
    position: relative;
    border-radius: 0.2px;
    box-shadow: 0 4px 8px 0;

}
#history{
    height: 20px;
    font-size: 10px;
    background-color: aquamarine;
    text-align: right;
    text-emphasis-color: yellow;
}
#output{
    height: 60px;
    text-align: right;
    text-decoration-color: black;
    font-size: 30px;
}
#result{
    height: 120px;
}
#keyboard{
    height: 400px;
}
.number,.operator,.empty
{   
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
    border-radius: 50%;
    background-color: blueviolet;
    border-width: 0;
    font-weight: bold;
}
.operator:active, .number:active{
	font-size: 13px;
}
.number,.empty{
    background-color: aliceblue;
}
.number,.operator{
    cursor: pointer;
}
.number:focus,.operator:focus,.empty:focus{
    outline: 0ch;
}
button:nth-child(2),button:nth-child(4),button:nth-child(12),button:nth-child(20){
    background-color: orange;
}